
.divhead{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(65, 165, 165);
    margin-bottom: 20px;
}

h1{
    border-bottom: dashed 2px #000000;
    padding-bottom: 20px;
}

.p1{
    color:#ffffff
}
em{
    text-decoration: underline;
    color:#FFEB3B
}

.divcontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 600px;
    width: 100%;
    
}

.gridcontainer{
    background-color:  #f1bcb8;
    box-shadow: 10px 10px 10px #838383;
    border: solid 3px #707963;
    border-radius: 20px;
}

img{
    width: 250px;
    height: 150px;
    margin-left: 10px;
    border: solid 2px #000000;
    box-shadow: 5px 5px 5px #595959;
    justify-self: center;
}

figcaption{
    font-size: 18px;
}

.divan{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
input{
    margin-left: 20px;
}

.greet{
    margin: 0;
}
.addiv{
    display: grid;
    grid-template-areas:"ad-2 ad-2 ad-1";
    background: #66493e;
    color: white;
    margin-top: 50px;
}
.adre{
    grid-area: ad-1;
    justify-self: end;
    align-self: end;
   
}
.adad{
    grid-area: ad-2; 
    display: flex;
    flex-direction: row;
    gap: 20px;
}
a{
    margin-top: 15px;
    color:#75efff
}

.butt{
    height: 50px;
    width: 100px;
    display: flex;
    background:#6767ab;
    margin: 0 10px;
    margin-top: 60px
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border: 5px solid #dedede;
}
button:hover{
    cursor:pointer;
    background-color: #6767ab;
    opacity: 0.8;
}

.correct {
    color: red;
}

.divbutton{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.spa {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.next{
    color:#FF9800;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

body{
    background:linear-gradient(gainsboro,#ffffb8, #89b88b)
}